# STOCK MARKET ANALYSIS AND FORECASTING  ðŸ’°ðŸ’°ðŸ’°

# 1. | Installing and Importing Libraries ðŸ“š

In [1]:
import os 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy import stats
import statistics
import warnings
import math
from scipy import stats
import matplotlib.dates as mdates
from plotly import tools
import plotly.tools as tls
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv(r"C:\Users\netsh\Downloads\QQQ_rands.csv")

values = pd.read_csv(r"C:\Users\netsh\Downloads\VOO_rands.csv")

valdats = pd.read_csv(r"C:\Users\netsh\Downloads\VT_rands.csv")

# 2.| Reading Dataset ðŸ‘“

In [3]:
data.head().style.background_gradient(cmap='Greens').set_properties(**{'font-family': 'Segoe UI'}).hide_index()

In [4]:
values.head()

    timestamp     open    high     low   close    volume
0  2023-05-05  381.730  383.64  370.92  378.97  20454804
1  2023-04-28  375.600  382.12  370.98  382.05  59219145
2  2023-03-31  363.340  376.34  349.76  376.07  98908997
3  2023-02-28  372.440  384.41  361.73  364.11  70631595
4  2023-01-31  353.181  375.08  347.19  373.44  76631756

In [5]:
valdats.head()

    timestamp   open     high     low  close    volume
0  2023-05-05  93.30  93.6599  91.350  93.16   5996063
1  2023-04-28  92.10  93.7806  91.230  93.40  25614082
2  2023-03-31  90.17  92.2500  86.125  92.09  53242096
3  2023-02-28  92.68  94.8740  89.190  89.83  39226279
4  2023-01-31  86.88  93.2400  85.711  92.78  54605961

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

## Overview of QQQ

Qqq is a NASDAQ EFT called Invesco QQQ trust that tracks the performance of 100 large tech companies, Amazon, FB, PayPal, etc

# 3. | Applying Descriptive statistics to QQQ ðŸ“Š

In [7]:
print("The mean for open price is:",data["open"].mean()),
print("The median for open price is:",data["open"].median())
print("The standard deviation for open price is:",data["open"].std())
print("The minimum value for open price is:",data["open"].min())
print("The maximum value for open price is:",data["open"].max())
print("The 75th quantile for open price is:",data["open"].quantile(0.75))
print("The 50th quantile for open price is:",data["open"].quantile(0.50))
print("The 25th quantile for open price is:",data["open"].quantile(0.25))
print("The interquantile range for open price is:",data["open"].quantile(0.75) - data["open"].quantile(0.25))
print("The Variance for open price is:",data["open"].var())
print("The mode for open price is:",data["open"].mode())
print("The z-score of the open price is", stats.zscore(data["open"]))
print("The skew for open price is:",data["open"].skew())
print("The Kurtosis for open price is:",data["open"].kurt())

The mean for open price is: 108.9312319148936
The median for open price is: 66.5
The standard deviation for open price is: 94.26558657900159
The minimum value for open price is: 20.91
The maximum value for open price is: 399.05
The 75th quantile for open price is: 148.04
The 50th quantile for open price is: 66.5
The 25th quantile for open price is: 41.065
The interquantile range for open price is: 106.975
The Variance for open price is: 8886.000813083245
The mode for open price is: 0     38.88
1    214.50
Name: open, dtype: float64
The z-score of the open price is 0      2.265278
1      2.229995
2      1.958896
3      1.971117
4      1.697361
         ...
277   -0.012022
278    1.121899
279    0.745696
280    0.886825
281    0.421567
Name: open, Length: 282, dtype: float64
The skew for open price is: 1.4337836116604936
The Kurtosis for open price is: 1.0741405522360172

In [8]:
print("The mean for volume is:",data["volume"].mean()),
print("The median for volume is:",data["volume"].median())
print("The standard deviation for volume is:",data["volume"].std())
print("The minimum value for volume is:",data["volume"].min())
print("The maximum value for volume is:",data["volume"].max())
print("The 75th quantile for volume is:",data["volume"].quantile(0.75))
print("The 50th quantile for volume is:",data["volume"].quantile(0.50))
print("The 25th quantile for volume is:",data["volume"].quantile(0.25))
print("The interquantile range for volume is:",data["volume"].quantile(0.75) - data["volume"].quantile(0.25))
print("The Variance for volume is:",data["volume"].var())
print("The mode for volume is:",data["volume"].mode())
print("The z-score of the volume is", stats.zscore(data["volume"]))
print("The skew for volume is:",data["volume"].skew())
print("The Kurtosis for volume is:",data["volume"].kurt())

The mean for volume is: 1434820990.1843972
The median for volume is: 1207131850.0
The standard deviation for volume is: 934753167.6223533
The minimum value for volume is: 232677800
The maximum value for volume is: 7240779800
The 75th quantile for volume is: 1894041625.0
The 50th quantile for volume is: 1207131850.0
The 25th quantile for volume is: 720325876.0
The interquantile range for volume is: 1173715749.0
The Variance for volume is: 8.737634843800234e+17
The mode for volume is: 0       232677800
1       259445481
2       287584900
3       291715900
4       307437473
          ...
277    3953264300
278    4567776300
279    4828694600
280    5188670400
281    7240779800
Name: volume, Length: 282, dtype: int64
The z-score of the volume is 0     -1.259653
1     -0.475510
2      0.118470
3     -0.364453
4     -0.506801
         ...
277   -0.810646
278   -1.028022
279   -1.229496
280   -1.225069
281   -1.288340
Name: volume, Length: 282, dtype: float64
The skew for volume is: 1.8017919186043259
The Kurtosis for volume is: 6.023119109653159

In [9]:
print("The mean for close price is:",data["close"].mean()),
print("The median for close price is:",data["close"].median())
print("The standard deviation for close price is:",data["close"].std())
print("The minimum value for close price is:",data["close"].min())
print("The maximum value for close price is:",data["close"].max())
print("The 75th quantile for close price is:",data["close"].quantile(0.75))
print("The 50th quantile for close price is:",data["close"].quantile(0.50))
print("The 25th quantile for close price is:",data["close"].quantile(0.25))
print("The interquantile range for close price is:",data["close"].quantile(0.75) - data["close"].quantile(0.25))
print("The Variance for close price is:",data["close"].var())
print("The mode for close price is:",data["close"].mode())
print("The z-score of the close price is", stats.zscore(data["close"]))
print("The skew for close price is:",data["close"].skew())
print("The Kurtosis for close price is:",data["close"].kurt())

The mean for close price is: 109.2789840425532
The median for close price is: 65.46504999999999
The standard deviation for close price is: 94.7752990179452
The minimum value for close price is: 20.72
The maximum value for close price is: 397.85
The 75th quantile for close price is: 150.6625
The 50th quantile for close price is: 65.46504999999999
The 25th quantile for close price is: 40.995000000000005
The interquantile range for close price is: 109.66749999999999
The Variance for close price is: 8982.357303940924
The mode for close price is: 0    35.38
1    36.57
2    38.87
3    38.91
Name: close, dtype: float64
The z-score of the close price is 0      2.257875
1      2.254387
2      2.237158
3      1.947856
4      1.959060
         ...
277   -0.153572
278    0.002336
279    1.101619
280    0.741181
281    0.777119
Name: close, Length: 282, dtype: float64
The skew for close price is: 1.4151913177454412
The Kurtosis for close price is: 0.9824203327389838

In [10]:
data.head()

   timestamp    open    high      low   close      volume
0 2023-05-05  322.09  323.76  315.115  322.89   259445481
1 2023-04-28  318.77  322.65  309.890  322.56   991124919
2 2023-03-31  293.26  321.17  285.190  320.93  1545364607
3 2023-02-28  294.41  313.68  290.050  293.56  1094751646
4 2023-01-31  268.65  298.26  260.340  294.62   961927648

In [11]:
# Extracting year and month from the 'Date' column and adding them as separate columns
data['Year'] = data['timestamp'].dt.year
data['Month'] = data['timestamp'].dt.month

In [12]:
# Printing the shape of the 'data' dataframe
print(f'data: {data.shape[0]} rows, {data.shape[1]} columns')

data: 282 rows, 8 columns

In [13]:
data.head()

   timestamp    open    high      low   close      volume  Year  Month
0 2023-05-05  322.09  323.76  315.115  322.89   259445481  2023      5
1 2023-04-28  318.77  322.65  309.890  322.56   991124919  2023      4
2 2023-03-31  293.26  321.17  285.190  320.93  1545364607  2023      3
3 2023-02-28  294.41  313.68  290.050  293.56  1094751646  2023      2
4 2023-01-31  268.65  298.26  260.340  294.62   961927648  2023      1

# 4. GRAPHICALLY REPRESENTING QQQ DATA

In [ ]:
# Line plot
fig, ax = plt.subplots(figsize=(15, 6))
#sns.lineplot(data['timestamp'], data['open'] )
sns.lineplot(data, x = 'timestamp', y = 'close')

# Formatting
ax.set_title('Close Price', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

# Adjusting tick label sizes for better readability
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

# Plotting the Volume

Now that we've done some baseline analysis, let's go ahead and dive a little deeper. We're now going to analyze the risk of the stock. In order to do so we'll need to take a closer look at the daily changes of the stock, and not just its absolute value. Let's go ahead and use pandas to retrieve teh daily returns for the QQQ

The graph exhibits significant noise due to the use of a daily scale. By opting for the mean trading volume per month, rather than the daily trading volume, the resulting visualization is expected to be more comprehensible and visually appealing.

In [ ]:
ax = data.boxplot(column = 'close', by = 'Year', figsize = (15,8))


ax.set_ylabel('Price')

plt.show()

It is immediately evident that 2021 was a highly successful year for the companies, This constitutes the most significant increase within the past decade.

In [ ]:
# Create a copy of the 'Date' and 'Volume' columns
y = data[['timestamp','volume']].copy()

# Set the index to 'timestamp' and convert it to datetime format
y.set_index('timestamp', inplace=True)
y.index = pd.to_datetime(y.index)

# Resample the time series to monthly and compute the mean of each month
y = y.resample('1M').mean()

# Add the 'timestamp' column back to the DataFrame
y['timestamp'] = y.index

# Plot the monthly volume time series
fig, ax = plt.subplots(figsize=(15, 6))
#sns.lineplot(y['timestamp'], y['volume'] )
sns.lineplot(data, x = 'timestamp', y = 'volume')

# Set the title and axes labels
ax.set_title('Monthly Volume', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

In [ ]:
# Aggregating the Time Series to a monthly scaled index
y = data[['timestamp','close']].copy()
x = data[['timestamp','close']].copy()
y.set_index('timestamp', inplace=True)

y.index = pd.to_datetime(y.index)
y = y.resample('1M').mean()

# Compute rolling mean with window size of 3
y['prediction'] = y.rolling(window=3).mean() 

ax.set_title('Close Price Prediction ', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
ax.set_ylabel('price', fontsize = 16, fontdict=dict(weight='bold'))

# Plot the resulting time series
ax = y.plot(figsize=(18,8))

ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

Correlation is a statistic that measures the degree to which two variables move in relation to each other which has a value that must fall between -1.0 and +1.0. Correlation measures association, but doesnâ€™t show if x causes y or vice versa â€” or if the association is caused by a third factor[1].

Now what if we wanted to analyze the returns of all the stocks in our list? Let's go ahead and build a DataFrame with all the ['Close'] columns for each of the stocks dataframes.

In [ ]:
plt.figure(figsize=(12, 10))

plt.subplot(2, 2, 1)
sns.heatmap(data.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock return')

plt.subplot(2, 2, 2)
sns.heatmap(data.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock closing price')

Just like we suspected in our PairPlot we see here numerically and visually that the stock return and closing price had the strongest correlation of daily stock return. It's also interesting to see that all the technology comapnies are positively correlated.

In [ ]:
import sklearn
print(sklearn.__version__)

#X_train, X_test, y_train, y_test = train_test_split(data[['close']], df[['open']], test_size=.2)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
 #y_train, y_test = train_test_split(data[['close']], test_size=.2)
    
X_train, X_test, y_train, y_test = train_test_split(data[['close']], data[['close']], test_size=.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:

# Create Regression Model
model = LinearRegression()
# Train the model
model.fit(X_train, y_train)
# Use model to make predictions
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
# Printout relevant metrics
print("Model Coefficients:", model.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Coefficient of Determination:", r2_score(y_test, y_pred))

So now we can see that if two stocks are perfectly (and positivley) correlated with each other a linear relationship bewteen its daily return values should occur.

Seaborn and pandas make it very easy to repeat this comparison analysis for every possible combination of stocks in our technology stock ticker list. We can use sns.pairplot() to automatically create this plot

In [ ]:
def correlation_coefficient(x, y):
    corr_matrix = np.corrcoef(x, y)
    corr_coeff = corr_matrix[0, 1]
    return corr_coeff

corr = correlation_coefficient(data.Year, data.close,)
print("Correlation Coefficient:", corr)

In [ ]:
def plot_linear_regression(x, y):
    # Calculate the linear regression parameters
    slope, intercept = np.polyfit(x, y, 1)

    # Create the scatter plot
    plt.scatter(x, y)

    # Create the regression line
    regression_line = slope * np.array(x) + intercept

    # Plot the regression line
    plt.plot(x, regression_line, color='red')

    # Add labels and title
    plt.xlabel('Year')
    plt.ylabel('Close Price')
    plt.title('Linear Regression for the closing price of QQQ')

    # Show the plot
    plt.show()
    
plot_linear_regression(data.Year, data.close)

In [ ]:
plt.scatter(X_train, y_train,color='g') 

plt.plot(X_test, y_pred,color='k') 



plt.show()

A scatter plot is a valuable tool for examining the relationship between each observation and its lag. It displays the observation at time t on the x-axis and the lag1 observation (t-1) on the y-axis.

If the points cluster along a diagonal line extending from the bottom-left to the top-right of the plot, it indicates a positive correlation relationship.
If the points cluster along a diagonal line extending from the top-left to the bottom-right, it signifies a negative correlation relationship.
Both types of relationships are useful, as they can be modeled.
The closer the points are to the diagonal line, the stronger the relationship; the more spread out the points are from the line, the weaker the relationship.
A concentration of points in the center or a dispersion across the plot suggests a weak or non-existent relationship

# 5. | Overview of VOO 

Vanguard S&P 500 ETF which tracks 500 large cap US stocks,over the past 10 years it has had an average annual return of around 15%

## 5.1 Applying Descriptive statistics to VOO DATA

In [ ]:
print("The mean for open price is:",values["open"].mean()),
print("The median for open price is:",values["open"].median())
print("The standard deviation for open price is:",values["open"].std())
print("The minimum value for open price is:",values["open"].min())
print("The maximum value for open price is:",values["open"].max())
print("The 75th quantile for open price is:",values["open"].quantile(0.75))
print("The 50th quantile for open price is:",values["open"].quantile(0.50))
print("The 25th quantile for open price is:",values["open"].quantile(0.25))
print("The interquantile range for open price is:",values["open"].quantile(0.75) - values["open"].quantile(0.25))
print("The Variance for open price is:",values["open"].var())
print("The mode for open price is:",values["open"].mode())
print("The z-score of the open price is", stats.zscore(values["open"]))
print("The skew for open price is:",values["open"].skew())
print("The Kurtosis for open price is:",values["open"].kurt())

In [ ]:
print("The mean for volume is:",values["volume"].mean()),
print("The median for volume is:",values["volume"].median())
print("The standard deviation for volume is:",values["volume"].std())
print("The minimum value for volume is:",values["volume"].min())
print("The maximum value for volume is:",values["volume"].max())
print("The 75th quantile for volume is:",values["volume"].quantile(0.75))
print("The 50th quantile for volume is:",values["volume"].quantile(0.50))
print("The 25th quantile for volume is:",values["volume"].quantile(0.25))
print("The interquantile range for volume is:",values["volume"].quantile(0.75) - values["volume"].quantile(0.25))
print("The Variance for volume is:",values["volume"].var())
print("The mode for volume is:",values["volume"].mode())
print("The z-score of the volume is", stats.zscore(values["volume"]))
print("The skew for volume is:",values["volume"].skew())
print("The Kurtosis for volume is:",values["volume"].kurt())

In [ ]:
print("The mean for close price is:",values["close"].mean()),
print("The median for close price is:",values["close"].median())
print("The standard deviation for close price is:",values["close"].std())
print("The minimum value for close price is:",values["close"].min())
print("The maximum value for close price is:",values["close"].max())
print("The 75th quantile for close price is:",values["close"].quantile(0.75))
print("The 50th quantile for close price is:",values["close"].quantile(0.50))
print("The 25th quantile for close price is:",values["close"].quantile(0.25))
print("The interquantile range for close price is:",values["close"].quantile(0.75) - values["close"].quantile(0.25))
print("The Variance for close price is:",values["close"].var())
print("The mode for close price is:",values["close"].mode())
print("The z-score of the close price is", stats.zscore(values["close"]))
print("The skew for close price is:",values["close"].skew())
print("The Kurtosis for close price is:",values["close"].kurt())

In [ ]:
# Extracting year and month from the 'Date' column and adding them as separate columns

values.head()

In [ ]:
values['timestamp'] = pd.to_datetime(values['timestamp'])

In [ ]:
values['Year'] = values['timestamp'].dt.year
values['Month'] = values['timestamp'].dt.month

# 5.2  GRAPHICALLY REPRESENTING VOO DATA ðŸ“Š

In [ ]:
# Line plot
fig, ax = plt.subplots(figsize=(17, 6))
#sns.lineplot(data['timestamp'], data['open'] )
sns.lineplot(values, x = 'timestamp', y = 'close')

# Formatting
ax.set_title('Close Price', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

# Adjusting tick label sizes for better readability
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

In [ ]:
# Create a copy of the 'Date' and 'Volume' columns
y = data[['timestamp','volume']].copy()

# Set the index to 'timestamp' and convert it to datetime format
y.set_index('timestamp', inplace=True)
y.index = pd.to_datetime(y.index)

# Resample the time series to monthly and compute the mean of each month
y = y.resample('1M').mean()

# Add the 'timestamp' column back to the DataFrame
y['timestamp'] = y.index

# Plot the monthly volume time series
fig, ax = plt.subplots(figsize=(15, 6))
#sns.lineplot(y['timestamp'], y['volume'] )
sns.lineplot(values, x = 'timestamp', y = 'volume')

# Set the title and axes labels
ax.set_title('Monthly Volume', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

In [ ]:
ax = values.boxplot(column = 'close', by = 'Year', figsize = (15,8))

ax.set_ylabel('Price')



plt.show()

In [ ]:
# Aggregating the Time Series to a monthly scaled index
y = values[['timestamp','close']].copy()
y.set_index('timestamp', inplace=True)
y.index = pd.to_datetime(y.index)
y = y.resample('1M').mean()


# Compute rolling mean with window size of 3
y['prediction'] = y.rolling(window=3).mean() 

# Plot the resulting time series
ax = y.plot(figsize=(18,8))
ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

In [ ]:
def correlation_coefficient(x, y):
    corr_matrix = np.corrcoef(x, y)
    corr_coeff = corr_matrix[0, 1]
    return corr_coeff

corr = correlation_coefficient(values.Year, values.close,)
print("Correlation Coefficient:", corr)

In [ ]:
plt.figure(figsize=(12, 10))

plt.subplot(2, 2, 1)
sns.heatmap(values.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock return')

plt.subplot(2, 2, 2)
sns.heatmap(data.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock closing price')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(values[['close']], values[['close']], test_size=.2)

In [ ]:
# Create Regression Model
model = LinearRegression()
# Train the model
model.fit(X_train, y_train)
# Use model to make predictions
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
# Printout relevant metrics
print("Model Coefficients:", model.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Coefficient of Determination:", r2_score(y_test, y_pred))

In [ ]:
def plot_linear_regression(x, y):
    # Calculate the linear regression parameters
    slope, intercept = np.polyfit(x, y, 1)

    # Create the scatter plot
    plt.scatter(x, y)

    # Create the regression line
    regression_line = slope * np.array(x) + intercept

    # Plot the regression line
    plt.plot(x, regression_line, color='red')

    # Add labels and title
    plt.xlabel('Year')
    plt.ylabel('Close Price')
    plt.title('Linear Regression for the closing price of VT')

    # Show the plot
    plt.show()
    
plot_linear_regression(values.Year, values.close)

In [ ]:
plt.scatter(X_train, y_train,color='g') 

plt.plot(X_test, y_pred,color='k') 



plt.show()

# 6. | Overview of VT Data

Vanguard Total world stock ETF which provides exposure to stocks of companies located in developed and emerging markets around the world, average annual return of around 9 % over the past 10 years

# 6.1 Applying Descriptive statistics to VT DATA

In [ ]:
valdats.describe()

In [ ]:
valdats['timestamp'] = pd.to_datetime(valdats['timestamp'])

In [ ]:
valdats['Year'] = valdats['timestamp'].dt.year
valdats['Month'] = valdats['timestamp'].dt.month

# 6.2 GRAPHICALLY REPRESENTING VT Data

In [ ]:
# Line plot
fig, ax = plt.subplots(figsize=(17, 6))
#sns.lineplot(data['timestamp'], data['open'] )
sns.lineplot(valdats, x = 'timestamp', y = 'close')

# Formatting
ax.set_title('Close Price', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

# Adjusting tick label sizes for better readability
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

In [ ]:
# Create a copy of the 'Date' and 'Volume' columns
y = valdats[['timestamp','volume']].copy()

# Set the index to 'timestamp' and convert it to datetime format
y.set_index('timestamp', inplace=True)
y.index = pd.to_datetime(y.index)

# Resample the time series to monthly and compute the mean of each month
y = y.resample('1M').mean()

# Add the 'timestamp' column back to the DataFrame
y['timestamp'] = y.index

# Plot the monthly volume time series
fig, ax = plt.subplots(figsize=(15, 6))
#sns.lineplot(y['timestamp'], y['volume'] )
sns.lineplot(values, x = 'timestamp', y = 'volume')

# Set the title and axes labels
ax.set_title('Monthly Volume', fontsize = 20, loc='center', fontdict=dict(weight='bold'))
ax.set_xlabel('Year', fontsize = 16, fontdict=dict(weight='bold'))
plt.tick_params(axis='y', which='major', labelsize=16)
plt.tick_params(axis='x', which='major', labelsize=16)

In [ ]:
ax = valdats.boxplot(column = 'close', by = 'Year', figsize = (15,8))

ax.set_ylabel('Price')


plt.show()

In [ ]:
# Aggregating the Time Series to a monthly scaled index
y = valdats[['timestamp','close']].copy()
y.set_index('timestamp', inplace=True)
y.index = pd.to_datetime(y.index)
y = y.resample('1M').mean()


# Compute rolling mean with window size of 3
y['prediction'] = y.rolling(window=3).mean() 

# Plot the resulting time series
ax = y.plot(figsize=(18,8))

 
ax.set_ylabel('Price', fontsize = 16, fontdict=dict(weight='bold'))

In [ ]:
plt.figure(figsize=(12, 10))

plt.subplot(2, 2, 1)
sns.heatmap(valdats.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock return')

plt.subplot(2, 2, 2)
sns.heatmap(data.corr(), annot=True, cmap='summer')
plt.title('Correlation of stock closing price')

In [ ]:
def correlation_coefficient(x, y):
    corr_matrix = np.corrcoef(x, y)
    corr_coeff = corr_matrix[0, 1]
    return corr_coeff

corr = correlation_coefficient(valdats.Year, valdats.close,)
print("Correlation Coefficient:", corr)

In [ ]:
def plot_linear_regression(x, y):
    # Calculate the linear regression parameters
    slope, intercept = np.polyfit(x, y, 1)

    # Create the scatter plot
    plt.scatter(x, y)

    # Create the regression line
    regression_line = slope * np.array(x) + intercept

    # Plot the regression line
    plt.plot(x, regression_line, color='red')

    # Add labels and title
    plt.xlabel('Year')
    plt.ylabel('Close Price')
    plt.title('Linear Regression for the closing price of VT')

    # Show the plot
    plt.show()
    
plot_linear_regression(valdats.Year, valdats.close)